body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b97a7a;
}
p {
    font-size: 40px;
    font-weight: 700;
    color: red;
}
h2 {
    font-size: 60px;
    color: blue;
}